---
import { getCollection, getEntry } from "astro:content";

import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  const allPosts = await getCollection("blog");

  // Filter out draft posts
  const publishedPosts = allPosts.filter(post => !post.data.draft);

  return publishedPosts.map((post) => ({
    params: { slug: post.slug },
  }));
}

// Fetch the post based on the slug
const postSlug = Astro.params.slug;
const entry = await getEntry("blog", postSlug);
let Content;

if (entry) {
  ({ Content } = await entry.render());
}
---

<Layout title={entry?.data.title} description={entry?.data.description}>
  <main>
    <article id="blog-single" class="container section-sm">
      <div class="row justify-content-center">
        <div class="col-md-8">
          {
            entry ? (
              <article>
                <h1>{entry.data.title}</h1>
                <Content />
              </article>
            ) : (
              <p>Post not found.</p>
            )
          }
        </div>
      </div>
    </article>
  </main>
</Layout>
