---
import { getCollection, CollectionEntry } from "astro:content";

import Layout from "../../layouts/Layout.astro";
import Card from "../../layouts/Card.astro";
import Pagination from "../../layouts/_Pagination.astro";
// import CategoryCloud from "../../layouts/_CategoryCloud.astro";

import { formatBlogPosts } from "../../layouts/_Utils";

export async function getStaticPaths({ paginate }) {
  const allPosts = await getCollection("blog");
  const formattedPosts: CollectionEntry<"blog">[] = formatBlogPosts(allPosts);

  return paginate(formattedPosts, {
    pageSize: 4,
  });
}

const { page } = Astro.props;
---

<Layout>
  <section aria-label="New Blog Posts">
    <h1>New Blog Posts</h1>
    <ul class="grid gap-5 max-w-2xl">
      {
        page.data.map((post) => (
          <Card data={post.data} url={post.slug} heading="h2" />
        ))
      }
    </ul>
    <Pagination prevUrl={page.url.prev} nextUrl={page.url.next} />
  </section>
</Layout>
