---
import { CollectionEntry, getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import Link from "../../layouts/Link.astro";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}

type Props = CollectionEntry<"blog">;

const post = Astro.props;
const { Content } = await post.render();

const { title, description, pubDate } = post.data;

const image = post.slug;
---

<Layout {title} {description}>
  <article class="blog single">
    <img class="blog-featured-image" src={`/assets/${image}.png`} />

    <date>
      {
        pubDate &&
          new Date(pubDate).toLocaleDateString(undefined, {
            month: "long",
            day: "numeric",
            year: "numeric",
          })
      }
    </date>

    <h1>{title}</h1>

    <Content />
  </article>
  <Link
    class="prev mb-sm"
    style="cursor: pointer"
    onclick="event.preventDefault(); window.history.back();"
  >
    Back
  </Link>
</Layout>
