// [use local fonts over loading via /public](https://www.youtube.com/watch?v=lksnr4e-npo)
// [Switzer](https://www.fontshare.com/fonts/switzer
@font-face {
    font-family: "Switzer";
    src:
        local("Switzer Regular"),
        url("/fonts/Switzer-Regular.woff2") format("woff2"),
        url("/fonts/Switzer-Regular.woff") format("woff"),
        url("/fonts/Switzer-Regular.ttf") format("ttf");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Switzer";
    src:
        local("Switzer Italic"),
        url("/fonts/Switzer-Italic.woff2") format("woff2"),
        url("/fonts/Switzer-Italic.woff") format("woff"),
        url("/fonts/Switzer-Italic.ttf") format("ttf");
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: "Switzer";
    src:
        local("Switzer Bold"),
        url("/fonts/Switzer-Bold.woff2") format("woff2"),
        url("/fonts/Switzer-Bold.woff") format("woff"),
        url("/fonts/Switzer-Bold.ttf") format("ttf");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Switzer";
    src:
        local("Switzer Bold Italic"),
        url("/fonts/Switzer-BoldItalic.woff2") format("woff2"),
        url("/fonts/Switzer-BoldItalic.woff") format("woff"),
        url("/fonts/Switzer-BoldItalic.ttf") format("ttf");
    font-style: italic;
    font-weight: 700;
}

// global_style
:root {
    --html-fontSize: 16px;
    --html-fontFamily: Switzer, Verdana, Geneva, Tahoma, sans-serif;

    --body-maxWidth: 72ch;
    --body-color: #555;
    --body-backgroundColor: #fefdfc;

    --size: 1.608rem;
    --size-sm: calc(0.608rem * 1.608);
    --size-lg: calc(1.608rem * 2);

    --dark: #222;
    --light: #f2f2f2;
    --grey: #999;

    --h1: calc(var(--size) * 1.608);
    --h2: calc(var(--size) * 1.11);
    --h3: var(--size);
    --h4: calc(var(--size) * 0.95);
    --h5: calc(var(--size) * 0.9);
    --h6: calc(var(--size) * 0.8);
}
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    color-scheme: light dark;
    font-family: var(--html-fontFamily);
    font-size: var(--html-fontSize);
}
body {
    max-width: var(--body-maxWidth);
    background-color: var(--body-backgroundColor);
    color: var(--body-color);
    padding: var(--size) var(--size-sm);

    line-height: 1.5;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
hr {
    width: 100%;
    border-top: none;
    border-color: var(--grey);
    margin: var(--size-sm) auto;
}
h1 {
    font-size: var(--h1);
}
h2 {
    font-size: var(--h2);
}
h3 {
    font-size: var(--h3);
}
h4 {
    font-size: var(--h4);
}
h5 {
    font-size: var(--h5);
}
h6 {
    font-size: var(--h6);
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 var(--size) 0;
    line-height: 1.2;
}
pre {
    padding: var(--size);
    white-space: pre-wrap;
    word-wrap: break-word;

    /* fixes for markdown? */
    :is(& > ol, & > ul) {
        line-height: 1;
    }

    .task-list-item {
        list-style-type: none;
    }
    ul ul,
    ol ol {
        padding-left: 1rem;
    }
}
code {
    padding: 0.2rem 0.4rem;
    background-color: var(--light);
}
pre > code {
    all: unset;
}
content {
    line-height: 1.8;
}
blockquote {
    border: 1px solid var(--grey);
    color: var(--dark);
    padding: var(--size-sm) 0px var(--size-sm) var(--size-lg);
    margin: 0;
    font-style: italic;
}
svg,
img,
video {
    max-width: 100%;
    height: auto;
}
table {
    width: 100%;
}
small {
    font-size: var(--size-sm);
}
textarea {
    width: 100%;
    font-size: 16px;
}
input {
    font-size: 16px;
}

// utilities
$sizes: (
    "": var(--size),
    "-sm": var(--size-sm),
    "-lg": var(--size-lg)
);

$directions: (
    "t": "top",
    "b": "bottom",
    "s": "left",
    "e": "right"
);
@each $suffix, $size in $sizes {
    .m#{$suffix} {
        margin: $size;
    }

    .p#{$suffix} {
        padding: $size;
    }

    @each $dirSuffix, $dir in $directions {
        .m#{$dirSuffix}#{$suffix} {
            margin-#{$dir}: $size;
        }

        .p#{$dirSuffix}#{$suffix} {
            padding-#{$dir}: $size;
        }
    }
}
.small {
    font-size: var(--size-sm);
}
.muted {
    color: var(--grey);
}

article.blog.single{
    .blog-featured-image {
        width: 100%;
        object-fit: cover;
        aspect-ratio: 3/1;
        margin-bottom: 1rem;
    }
    iframe {
        width: 100%;
        aspect-ratio: 16/9;
    }
}