---
// src/pages/index.astro
---
<html>
  <head>
    <title>Welcome to JY</title>
  </head>
  <body>
    <h1>Welcome to JY</h1>
    <p>This is the central hub for all my projects:</p>
    <ul>
      <li><a href="https://blog.jy.com">Blog</a></li>
      <li><a href="https://portfolio.jy.com">Portfolio</a></li>
      <li><a href="https://playground.jy.com">Playground</a></li>
    </ul>
  </body>
</html>
