---
import Layout from "../layouts/Layout.astro";
import Link from "../layouts/Link.astro";
---

<Layout
  title="404 Page Not Found"
>
  <section class="404__content">
    <h1 class="text-5xl my-4">/404:not_found/</h1>
    <Link href="/" target="_blank">Back to Homepage</Link>
  </section>
</Layout>
