---
import Layout from "../layouts/Layout.astro";
import Link from "../layouts/Link.astro";
---

<Layout title="404 Page Not Found">
  <h1>404: not_found</h1>
  <Link href="/" class="back">Back to Homepage</Link>
</Layout>
