---
import { getCollection } from "astro:content";

import Layout from "../layouts/Layout.astro";
import BlogList from "../components/BlogList.astro";

const allPosts = await getCollection("blog");

const blog_posts = allPosts
  .filter((post) => !post.data.draft) // Filter out drafts
  .sort((a, b) => {
    // Compare titles for sorting in descending order
    const titleA = a.data.title.toLowerCase();
    const titleB = b.data.title.toLowerCase();
    if (titleA < titleB) {
      return 1; // Place b before a for descending order
    }
    if (titleA > titleB) {
      return -1; // Place a before b for descending order
    }
    return 0;
  });

  console.log('blog_posts', blog_posts);

---

<Layout>
  <main class="d-flex flex-column align-items-center justify-content-center">
    <h1>
      (。・∀・)ﾉ*:･ﾟhello_world
      <div class="stack">
        <span class="animate--moveUpDown" style="--animation-delay: 0">🌟</span>
        <span class="animate--moveUpDown" style="--animation-delay: .314s"
          >🌟</span
        >
        <span class="animate--moveUpDown" style="--animation-delay: .628s"
          >🌟</span
        >
      </div>
    </h1>

    <section class="container section-sm">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <BlogList page={blog_posts} />
        </div>
      </div>
    </section>
  </main>
</Layout>
<style>
  span {
    display: inline-block;
    font-family: monospace;
    font-size: 1rem;
    filter: drop-shadow(3px 3px 12px rgba(252 213 63 / 1));
  }
  @keyframes moveUpDown {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(
        -1.5rem
      ); /* Adjust the value to control the height of the bounce */
    }
  }
  .stack {
    display: inline-block;
  }

  .animate--moveUpDown {
    animation: moveUpDown 2s ease-in-out infinite;
    animation-delay: var(--animation-delay, 0);
  }
</style>
