---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main class="d-flex flex-column align-items-center justify-content-center">
    <h1>
      (。・∀・)ﾉ*:･ﾟhello_world
      <div class="stack">
        <span class="animate--moveUpDown" style="--animation-delay: 0">🌟</span>
        <span class="animate--moveUpDown" style="--animation-delay: .314s"
          >🌟</span
        >
        <span class="animate--moveUpDown" style="--animation-delay: .628s"
          >🌟</span
        >
      </div>
    </h1>
  </main>
</Layout>
<style>
  span {
    display: inline-block;
    font-family: monospace;
    font-size: 1rem;
    filter: drop-shadow(3px 3px 12px rgba(252 213 63 / 1));
  }
  @keyframes moveUpDown {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(
        -1.5rem
      ); /* Adjust the value to control the height of the bounce */
    }
  }
  .stack {
    display: inline-block;
  }

  .animate--moveUpDown {
    animation: moveUpDown 2s ease-in-out infinite;
    animation-delay: var(--animation-delay, 0);
  }
</style>
