---
import Link from "./Link.astro";

const { prevUrl, nextUrl } = Astro.props;
---

<nav aria-label="Blog pages">
  {prevUrl && <Link href={prevUrl}>Previous</Link>}
  {nextUrl && <Link href={nextUrl}>Next</Link>}
</nav>
