---
const year = new Date().getFullYear();
---

<footer
  id="site-footer"
  aria-label="site-footer"
  class="flex flex-col items-center text-center py-4"
>
  <p class="small muted">
    Coding with intent, in stillness and mindfulness, learning to create.
  </p>

  <p class="small muted">&copy; {import.meta.env.PUBLIC_SITE_TITLE} {year}</p>
</footer>
