---
import Link from "./Link.astro";

import { SITE_TITLE } from "../consts";
---

<header id="site-header" aria-label="site-header">
  <h2>
    {SITE_TITLE}
  </h2>

  <nav id="primary-nav" aria-label="primary-nav">
    <Link href="/">Home</Link>
    <Link href="/blog">Blog</Link>
    <Link href="/portfolio">Portfolio</Link>
  </nav>
</header>
