---
import Layout from "../../layouts/Layout.astro";
import PortfolioGallery from "./_gallery.astro";
/* 

const allPosts = await getCollection("blog");

const blog_posts = allPosts
  .filter((post) => !post.data.draft) // Filter out drafts
  .sort((a, b) => {
    // Compare titles for sorting in descending order
    const titleA = a.data.title.toLowerCase();
    const titleB = b.data.title.toLowerCase();
    if (titleA < titleB) {
      return 1; // Place b before a for descending order
    }
    if (titleA > titleB) {
      return -1; // Place a before b for descending order
    }
    return 0;
  }); */
---

<Layout>
  <main class="d-flex flex-column align-items-center justify-content-center">
    <PortfolioGallery />
  </main>
</Layout>

<style>
    p {
        max-width: 74ch;
    }
</style>